//["icon-html5-alt",'icon-css3-alt','icon-javascript-alt','icon-sass','icon-bootstrap','icon-jquery','icon-shell'] 

.icon-html5-alt{
    color: #e96228;
}
.icon-css3-alt{
    color: #3595cf;
}
.icon-javascript-alt{
    color: #efd81d;
}
.icon-sass{
    color: #c76494;
}
.icon-bootstrap{
    color: #543c80;
}
.icon-jquery{
    color: #0865a6;
}