//Globalne
$font: Athiti;

// Site main colors
$primary-color: #15253c;
$secondary-color: #66b7ac;

// Nav seetings
$nav-height: 100px;
$nav-a-color: white;
$nav-a-hover-color: #38ff98;
$nav-button-color: $primary-color;
$search-window-width: 350px;

// Header settings
$box-translateY: -10%;
$text-right-fs: 24px;
$text-left-fs: 64px;
$box-margin-bottom: 50px;

//Offer settings
$headings-fs: 5rem;
$icon-fs: 110px;
$h3-fs: 42px;
$ul-li-fs: 21px;